body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.progress{
    background-color: #d8d8d8;
    height: 30px;
    width: 300px;
    border-radius: 20px;
}
.progress-done{
    background: linear-gradient(to left , #f2709c ,#ff9472);
    height: 100%;
    width: 0px;
    opacity: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px -5px  #f2709c  , 0 2px 5px #ff9472;
    transition: 1s ease 0.3s ;
}